**QUIZ**
**SUNIL BHENSPALIYA**
**201951157**

In [1]:
import pandas as pd
import seaborn as sns
import math
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data=pd.read_csv("/content/sample_data/health.csv")

Q.(1):-

In [4]:
data.iloc[0:9]

,Vaccine,Country Name,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,HIB3,Afghanistan,..,..,..,..,..,..,..,..,...,66,68,67,64,62,65,66,66,66,66
1,HIB3,Africa Eastern and Southern,5.10608022226771,4.84897579522011,17.4607066995505,18.1566279312654,23.6239707592073,24.7006377513624,25.5596598958785,36.3719158083792,...,71.9240550572376,75.4086480558665,75.0469919658014,75.4257961763254,76.9740427994174,76.7552220207984,76.2571405083487,75.9107848899418,76.5992054456554,76.6768207052784
2,HIB3,Africa Western and Central,0.461609931536671,0.438635406307169,5.47416540747535,5.40072521196181,5.33648734434168,7.08430808205681,14.6555728626289,18.775833764749,...,41.5426500465032,40.5162623844271,46.1580491004925,53.2939563302572,60.9707407070412,60.7181737069332,66.3780779498131,67.8162296015319,67.4915495455716,68.4859603399358
3,HIB3,Albania,..,..,..,..,..,..,..,..,...,99,99,99,99,98,99,98,99,99,99
4,HIB3,Algeria,..,..,..,..,..,..,..,..,...,95,95,95,95,95,95,91,91,91,91
5,HIB3,American Samoa,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
6,HIB3,Andorra,90,92,92,91,95,97,93,95,...,98,99,98,96,97,97,98,99,99,98
7,HIB3,Angola,..,..,..,..,..,..,..,43,...,49,50,52,54,55,55,55,52,59,53
8,HIB3,Antigua and Barbuda,..,97,97,97,97,99,99,99,...,98,99,98,99,99,99,92,95,95,99

Q.(2):-

In [5]:
data.dtypes

Vaccine          object
Country Name     object
2000 [YR2000]    object
2001 [YR2001]    object
2002 [YR2002]    object
2003 [YR2003]    object
2004 [YR2004]    object
2005 [YR2005]    object
2006 [YR2006]    object
2007 [YR2007]    object
2008 [YR2008]    object
2009 [YR2009]    object
2010 [YR2010]    object
2011 [YR2011]    object
2012 [YR2012]    object
2013 [YR2013]    object
2014 [YR2014]    object
2015 [YR2015]    object
2016 [YR2016]    object
2017 [YR2017]    object
2018 [YR2018]    object
2019 [YR2019]    object
dtype: object

Q.(3):-

In [7]:
res=0
for col1 in data.columns[2:]:
  data[col1]=data[col1].replace('..',np.nan)
  res+=data[col1].isna().sum()
  print(res)

635
1230
1783
2306
2810
3287
3748
4186
4602
4987
5357
5709
6050
6377
6692
6998
7298
7596
7889
8172

Q.(4):-

In [23]:
data[data.columns[11:]]=data[data.columns[11:]].astype('float') 
check=data[data['Country Name']=='India']

In [20]:
for i in data.columns[2:]:
  data[i]=pd.to_numeric(data[i])
  count=0
for i in data["Vaccine"]:
    if i=="HIB3":
      count=count+1

print(count)
percentage=(count/1861)*100
print(percentage)

266
14.293390650188071

Q.(5):-

In [14]:
data_index=data.set_index(['Vaccine','Country Name'])
data_index.head(2)
data_index=data_index.stack()
data_index.head(52)

Vaccine  Country Name
HIB3     Afghanistan                  2009 [YR2009]                   63
                                      2010 [YR2010]                   66
                                      2011 [YR2011]                   68
                                      2012 [YR2012]                   67
                                      2013 [YR2013]                   64
                                      2014 [YR2014]                   62
                                      2015 [YR2015]                   65
                                      2016 [YR2016]                   66
                                      2017 [YR2017]                   66
                                      2018 [YR2018]                   66
                                      2019 [YR2019]                   66
         Africa Eastern and Southern  2000 [YR2000]     5.10608022226771
                                      2001 [YR2001]     4.84897579522011
                                      2002 [YR2002]     17.4607066995505
                                      2003 [YR2003]     18.1566279312654
                                      2004 [YR2004]     23.6239707592073
                                      2005 [YR2005]     24.7006377513624
                                      2006 [YR2006]     25.5596598958785
                                      2007 [YR2007]     36.3719158083792
                                      2008 [YR2008]     47.3015612300261
                                      2009 [YR2009]     71.6435273728197
                                      2010 [YR2010]     71.9240550572376
                                      2011 [YR2011]     75.4086480558665
                                      2012 [YR2012]     75.0469919658014
                                      2013 [YR2013]     75.4257961763254
                                      2014 [YR2014]     76.9740427994174
                                      2015 [YR2015]     76.7552220207984
                                      2016 [YR2016]     76.2571405083487
                                      2017 [YR2017]     75.9107848899418
                                      2018 [YR2018]     76.5992054456554
                                      2019 [YR2019]     76.6768207052784
         Africa Western and Central   2000 [YR2000]    0.461609931536671
                                      2001 [YR2001]    0.438635406307169
                                      2002 [YR2002]     5.47416540747535
                                      2003 [YR2003]     5.40072521196181
                                      2004 [YR2004]     5.33648734434168
                                      2005 [YR2005]     7.08430808205681
                                      2006 [YR2006]     14.6555728626289
                                      2007 [YR2007]      18.775833764749
                                      2008 [YR2008]     22.0964735735437
                                      2009 [YR2009]     40.4027023455653
                                      2010 [YR2010]     41.5426500465032
                                      2011 [YR2011]     40.5162623844271
                                      2012 [YR2012]     46.1580491004925
                                      2013 [YR2013]     53.2939563302572
                                      2014 [YR2014]     60.9707407070412
                                      2015 [YR2015]     60.7181737069332
                                      2016 [YR2016]     66.3780779498131
                                      2017 [YR2017]     67.8162296015319
                                      2018 [YR2018]     67.4915495455716
                                      2019 [YR2019]     68.4859603399358
         Albania                      2009 [YR2009]                   98
dtype: object

Q.(6)

In [21]:
data_index.reset_index()

      Vaccine Country Name        level_2   0
0        HIB3  Afghanistan  2009 [YR2009]  63
1        HIB3  Afghanistan  2010 [YR2010]  66
2        HIB3  Afghanistan  2011 [YR2011]  68
3        HIB3  Afghanistan  2012 [YR2012]  67
4        HIB3  Afghanistan  2013 [YR2013]  64
...       ...          ...            ...  ..
29063    POL3     Zimbabwe  2015 [YR2015]  88
29064    POL3     Zimbabwe  2016 [YR2016]  90
29065    POL3     Zimbabwe  2017 [YR2017]  89
29066    POL3     Zimbabwe  2018 [YR2018]  89
29067    POL3     Zimbabwe  2019 [YR2019]  90

[29068 rows x 4 columns]

In [22]:
data_index.columns = ["Vaccine","Country Name","Year","Percentage"]